*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    background-image: url(./asset/images.jpg);
    background-size:cover;
    

}


.searchinput{
    width: 800px;
    height: 50px;
    border-radius: 20px;
    margin: 5px;
    padding: 30px;
    justify-content: center;

}
::placeholder{
    color: rgb(88, 86, 86);
    text-align:start
}




























